.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;

}


.header__img {
  width: 100%;
  height: auto;
}

.header__title {
  font-weight: normal;
  font-size: 4.9em;
  color: $color-black;
  font-family: $font-raleway;
  padding-top: 5%;
  padding-bottom: 1%;

  @include tablet {
    font-size: 4rem;
    padding-top: 8%;
  }


  @include mobile {
    font-size: 3rem;
    padding-top: 15%;
  }


}

.header__text {
  font-size: $font-sizeText;
  font-family: $font-open-sans;
  text-align: center;
  margin-bottom: 5%;

  @include tablet {
    font-size: $font-sizeTextTablet;
    margin-bottom: 8%;
  }

  @include mobile {
    font-size: $font-sizeTextMobile;
    margin-bottom: 25%;
    padding: 0 30px;
  }
}

.header__btn {
  @include btn();
  background-color: $color-primary;

  @include mobile {
    font-size: $font-sizeBtnMobile;


  }

}