$button-radius: 35px;
$margin-topDesktop: 100px;
$margin-topMobile: 50px;

$font-sizeText: 1.8rem;
$font-sizeTextTablet:1.5rem;
$font-sizeTextMobile:1.3rem;

$font-sizeSubtitle: 1.5rem;
$font-sizeSubtitleTablet: 1.2rem;
$font-sizeSubtitleMobile: 1.1rem;

$font-sizeBtn:1.8rem;
$font-sizeBtnMobile: 1.2rem;

$font-sizeTitle: 4rem;
$font-sizeTitleMobile:2rem;
$font-sizeTitleTablet: 3.5rem;